rules_version = '2';

service firebase.storage {

  match /b/{bucket}/o {

    function signedIn() {
      return request.auth != null;
    }

    function isSuperAdmin() {
      return signedIn()
        && request.auth.token.email
           == "jonathanmentor62@gmail.com";
    }

    function isAdmin() {
      return isSuperAdmin()
        || (
          signedIn()
          && firestore.exists(
            /databases/(default)/documents/admins/$(request.auth.uid)
          )
        );
    }


    /* =========================
       PROFILE PHOTOS
    ========================= */

    match /profilePhotos/{uid}.{extension} {

      /*
       Everyone can view approved profile photos.
      */

      allow read:
        if signedIn();


      /*
       A user can upload only their own photo.
       Admin can manage photos when necessary.
      */

      allow write:
        if signedIn()
        && (
          request.auth.uid == uid
          || isAdmin()
        )
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches(
          'image/.*'
        );


      allow delete:
        if isAdmin()
        || (
          signedIn()
          && request.auth.uid == uid
        );
    }

  }
}